@font-face {
  font-family: 'Raglan Sans';
  src: url('../public/fonts/RaglanSans-Regular.woff2') format('woff2'),
      url('../public/fonts/RaglanSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../public/fonts/SpaceMono-Regular.woff2') format('woff2'),
      url('../public/fonts/SpaceMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../public/fonts/SpaceMono-Italic.woff2') format('woff2'),
      url('../public/fonts/SpaceMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../public/fonts/SpaceMono-Bold.woff2') format('woff2'),
      url('../public/fonts/SpaceMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}