body {
  @apply font-sans antialiased text-off-black bg-off-white;
}
  
.content > p {
  @apply mb-5;

  &:last-of-type {
    @apply mb-0;
  }
}

.content > ul {
  @apply my-5 list-inside list-disc;

  li {
    @apply block mb-2;
  }

  li:before {
    content: "— ";
  }
}

.content > p a {
  @apply underline;

  &:hover, &:focus {
    @apply text-green;
  }
}

.about-text {
  text-indent: 3rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6 {
  @apply p-0 mb-6;
}
  
.content > h1, .content > .h1 {
  @apply text-4xl;
}
  
.content > h2, .content > .h2 {
  @apply text-3xl;
}

@responsive {
  .upright {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
  }
}

::-moz-selection {
  @apply bg-yellow text-off-black bg-opacity-75;
}
::selection { 
  @apply bg-yellow text-off-black bg-opacity-75;
}

.yellow-highlight {
  ::-moz-selection {
    @apply bg-off-black text-yellow;
  }
  ::selection { 
    @apply bg-off-black text-yellow;
  } 
}